<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <img id="img" src="../../assets/icon/caja_vecina_logo.png" alt="caja_vecina_logo">
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer >
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
</ion-app>