#titulo{
    color: white;
}
#img{
    width: 60px;
    height: 40px;
    margin: auto;
    display: block;
  }
  .custom-toolbar {
    height: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
  }
  
  .small-logo {
    width: 80px;  
    height: auto; 
  }
  
  ion-buttons {
    position: absolute;
    left: 0; 
  }
  