#titulo{
    color: white;
}
#img{
    width: 60px;
    height: 40px;
    margin: auto;
    display: block;
  }
  .custom-toolbar {
    height: 50px; /* Ajuste de la altura de la barra de herramientas */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Hace que el contenedor del logo ocupe el máximo espacio disponible */
  }
  
  .small-logo {
    width: 80px;  /* Ajuste del ancho del logo */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  ion-buttons {
    position: absolute;
    left: 0; /* Asegura que los botones se mantengan en el lado izquierdo */
  }
  