<ion-app></ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="warning">
      <img id="img" src="../../assets/icon/caja_vecina_logo.png" alt="caja_vecina_logo">
    </ion-toolbar>
  </ion-header>

  <ion-content id="content">
    <div class="overlay">
      <div class="title-container">
        <h1>¡Bienvenido al GPS de Caja Vecina!</h1>
      </div>
      <ion-button id="ingre" expand="block" (click)="iniciar()">
        ingresar
      </ion-button>
    </div>
  </ion-content>
</ion-app>