#titulo {
  color: white;
}

#img {
  width: 60px;
  height: 40px;
  margin: auto;
  display: block;
}

.custom-toolbar {
  height: 50px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.logo-container {
  flex-grow: 1;  
  text-align: center;  
}

.small-logo {
  width: 80px;  
  height: auto; 
}

ion-buttons[slot="start"] {
  margin-left: 10px;
}

ion-buttons[slot="end"] {
  margin-right: 10px; 
}

ion-toolbar {
  padding-left: 0px;
  padding-right: 0px;
}

.mensaje-exito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.ticket {
  font-size: 60px;
  color: green;
}
