#titulo {
  color: white;
}

#img {
  width: 60px;
  height: 40px;
  margin: auto;
  display: block;
}

.custom-toolbar {
  height: 50px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.logo-container {
  flex-grow: 1;  
  text-align: center;  
}

.small-logo {
  width: 80px;  
  height: auto; 
}

ion-buttons[slot="start"] {
  margin-left: 10px;
}

ion-buttons[slot="end"] {
  margin-right: 10px; 
}

ion-toolbar {
  padding-left: 0px;
  padding-right: 0px;
}

.mensaje-exito {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(209, 43, 43);
  font-weight: bold;
}

.ticket {
  position: absolute; 
  width: 80%; 
  text-align: center; 
  line-height: 1.2; 
}
