// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.page-home {
    ion-content {
      --background: #d9dbe0 ;
    }
  }
  ion-toolbar {
    --color: #ff9100; 
  }