<ion-app>
  <ion-header>
    <ion-toolbar class="custom-toolbar" color="warning">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['../perfil']">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo-container">
        <img id="img" class="small-logo" src="../../assets/icon/caja_vecina_logo.png" alt="caja_vecina_logo">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Contraseña Actual</ion-label>
          <ion-input type="password" formControlName="currentPassword"></ion-input>
        </ion-item>
        <ion-note *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched" color="danger">
          La contraseña actual es obligatoria
        </ion-note>

        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
        <ion-note *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched" color="danger">
          La nueva contraseña debe tener al menos 6 caracteres.
        </ion-note>

        <ion-item>
          <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-note *ngIf="passwordForm.get('confirmPassword')?.hasError('notMatching') && passwordForm.get('confirmPassword')?.touched" color="danger">
          Las contraseñas no coinciden.
        </ion-note>
      </ion-list>

      <ion-button expand="block" color="warning" type="submit" [disabled]="passwordForm.invalid">Cambiar</ion-button>
      <ion-button expand="block" color="medium" type="button" (click)="clearForm()">Limpiar</ion-button>
    </form>
  </ion-content>
</ion-app>
