<ion-card>
  <ion-card-header>
    <ion-card-title>Documentación Necesaria</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Por favor, asegúrate de enviar los siguientes documentos:</p>
    <ul>
      <li>Identificación del propietario</li>
      <li>Comprobante de domicilio</li>
      <li>Licencia del establecimiento</li>
      <li>Cualquier otro documento relevante</li>
    </ul>
    <ion-button (click)="cerrarAyuda()" expand="full">Cerrar</ion-button>
  </ion-card-content>
</ion-card>
