<ion-app>
  <ion-header>
    <ion-toolbar class="custom-toolbar" color="warning">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['../login']"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <div class="logo-container">
        <img id="img" class="small-logo" src="../../assets/icon/caja_vecina_logo.png" alt="caja_vecina_logo">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content id="content">
    <div class="overlay">
      <img id="user" src="../../assets/icon/usuario.png" alt="usuario"
        style="display: block; margin: auto; width: 100px; height: 100px;">
      <p id="parrafos" style="font-size: 1.5em; text-align: center;">Inicia Sesión</p>

      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" type="email"></ion-input>
        </ion-item>
    
        <ion-item *ngIf="formularioLogin.get('correo')?.invalid && (formularioLogin.get('correo')?.dirty || formularioLogin.get('correo')?.touched)">
          <ion-text color="danger" *ngIf="formularioLogin.get('correo')?.errors?.['required']">
            El correo es obligatorio.
          </ion-text>
          <ion-text color="danger" *ngIf="formularioLogin.get('correo')?.errors?.['email']">
            Ingresa un correo válido.
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" min="3" type="password" max="10"></ion-input>
        </ion-item>

        <br>
        <ion-button expand="block" (click)="ingresar()">
          Ingresar
        </ion-button>
      </form>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="warning">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['../registro-auth']">
          ¿No tienes cuenta? Regístrate aquí
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-app>
